* {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0;
}

@mixin textheader {
  color: white;
  text-shadow: 0px 0px 3px black;
}

// ################## CAROUSEL #####################
.carousel-item {
  height: 70vh;
  h1 {
    @include textheader;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

// ################## SELECT #####################
.select {
  margin-top: 40px;
  width: 100%;
  h1 {
    text-align: center;
  }
}
.select-location {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
  .location {
    flex-grow: 1;
    height: 50vh;
    margin: 0 5px;
    @media only screen and (max-width: 800px) {
      margin-bottom: 10px;
      width: 100%;
    }
    a {
      text-decoration: none;
    }
    .overlay {
      background-color: rgba(0,0,0,0.5);
      height: 50vh;
      transition: 0.2s;
      &:hover {
        background-color: rgba(0,0,0,0);
      }
      h1 {
        @include textheader;
        bottom: 0;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 50%;
        @media only screen and (max-width: 800px) {
          font-size: 1.5em;
        }
      }
    }
  }
}
// ################## NAVBAR #####################
.navbar {
  height: 12vh;
  .top-nav {
    display: flex;
    justify-content: space-evenly;
    a {
      align-self: center;
      color: black;
      text-decoration: none;
    }
    .logo {
      color: red;
    }
    li {
      list-style: none;
      h5 {
        padding-top: 20px;
      }
      img {
        max-height: 10vh;
      }
    }
  }
}

// ################## ABOUT #####################
.about-container {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0;
  h1 {
    text-align: center;
  }
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
  .about-text {
    flex-grow: 1;
    margin: 5px;
    max-width: 50%;
    @media only screen and (max-width: 800px) {
      max-width: 100%;
      padding: 0 10px;
      h1 {
        text-align: center;
      }
    }
  }
  .about-image {
    flex-grow: 1;
    margin: 5px;
    padding-bottom: 300px;
    width: 100%;
  }
}

// ################## DISH #####################
.grid-item {
  width:25.00%;
  @media only screen and (max-width: 800px) {
    width: 33.33%;
  }
  img {
    padding: 3px;
    max-width: 100%;
    @media only screen and (max-width: 800px) {
      padding: 1px;
    }
  }
}

.modal-img {
  max-width: 600px;
  @media only screen and (max-width: 800px) {
    max-width: 300px;
  }
}

// ################## GALLERY #####################
.gallery {
  padding-top: 80px;
  h1 {
    text-align: center;
  }
  .gallery-buttons {
    display: flex;
    button {
      display: block;
      margin: 0 auto;
    }
  }
}

// ################## CONTACT #####################
.contact {
  background-image: url("../images/dish/31.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 0 0;
  h1 {
    @include textheader;
    text-align: center;
  }
}
.contact-container {
  display: flex;
  padding-bottom: 20px;
  padding-top: 40px;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}
.contact-info {
  width: 100%;
  h1 {
    @include textheader;
    text-align: center;
  }
  .hours {
    @include textheader;
    padding-left: 20px;
    padding-top: 40px;
    text-align: center;
    @media only screen and (max-width: 800px) {
      padding-left: 0;
    }
  }
}
