* {
  margin: 0;
  padding: 0; }

ul {
  margin-bottom: 0; }

.toTop {
  border: 1px solid black;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 5%;
  opacity: 0;
  z-index: 99999; }

.carousel-item {
  height: 70vh; }
  .carousel-item h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; }

.select {
  margin-top: 40px;
  width: 100%; }
  .select h1 {
    text-align: center; }

.select-location {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0; }
  @media only screen and (max-width: 800px) {
    .select-location {
      flex-direction: column; } }
  .select-location .location {
    flex-grow: 1;
    height: 50vh;
    margin: 0 5px; }
    @media only screen and (max-width: 800px) {
      .select-location .location {
        margin-bottom: 10px;
        width: 100%; } }
    .select-location .location a {
      text-decoration: none; }
    .select-location .location .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      height: 50vh;
      transition: 0.2s; }
      .select-location .location .overlay:hover {
        background-color: rgba(0, 0, 0, 0); }
      .select-location .location .overlay h1 {
        color: white;
        text-shadow: 0px 0px 3px black;
        bottom: 0;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 50%; }
        @media only screen and (max-width: 800px) {
          .select-location .location .overlay h1 {
            font-size: 1.5em; } }

ul.topnav {
  align-items: center;
  display: flex;
  height: 12vh;
  justify-content: space-around;
  padding-left: 0;
  top: 0;
  width: 100%;
  z-index: 9000; }
  ul.topnav li {
    list-style: none; }
    ul.topnav li a {
      color: black;
      text-decoration: none;
      text-transform: uppercase; }
    ul.topnav li .logo-red {
      color: red; }

ul.topnav li.dropdownIcon {
  display: none; }

@media only screen and (max-width: 800px) {
  ul.topnav {
    align-items: center; }
    ul.topnav li:not(:nth-child(1)) {
      display: none; }
    ul.topnav li.logo {
      margin: 0 auto; }
    ul.topnav li.dropdownIcon {
      display: block;
      padding-right: 10px; }

  ul.responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 9999; }
    ul.responsive li {
      background-color: white;
      display: inline;
      list-style: none;
      float: none;
      padding: 5px 0;
      z-index: 99999; }
      ul.responsive li a {
        color: black;
        display: block;
        padding-left: 10px;
        text-decoration: none; }

  ul.responsive li.dropdownIcon {
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0; } }
.about-container {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0; }
  .about-container h1 {
    text-align: center; }
  @media only screen and (max-width: 800px) {
    .about-container {
      flex-direction: column; } }
  .about-container .about-text {
    flex-grow: 1;
    margin: 5px;
    max-width: 50%; }
    @media only screen and (max-width: 800px) {
      .about-container .about-text {
        max-width: 100%;
        padding: 0 10px; }
        .about-container .about-text h1 {
          text-align: center; } }
  .about-container .about-image {
    flex-grow: 1;
    margin: 5px;
    padding-bottom: 300px;
    width: 100%; }

.grid-item {
  width: 25.00%; }
  @media only screen and (max-width: 800px) {
    .grid-item {
      width: 33.33%; } }
  .grid-item img {
    padding: 3px;
    max-width: 100%; }
    @media only screen and (max-width: 800px) {
      .grid-item img {
        padding: 1px; } }

.gal-modal img:hover {
  cursor: pointer;
  opacity: 0.7; }

.modal-img {
  max-width: 600px; }
  @media only screen and (max-width: 800px) {
    .modal-img {
      max-width: 300px; } }

.gallery {
  padding-top: 80px;
  padding-bottom: 40px; }
  @media only screen and (max-width: 800px) {
    .gallery {
      padding-top: 0; } }
  .gallery h1 {
    padding-bottom: 20px;
    text-align: center; }
  .gallery .gallery-buttons {
    display: flex;
    padding: 20px 0; }
    .gallery .gallery-buttons button {
      display: block;
      margin: 0 auto; }

.contact {
  background-image: url("../images/dish/31.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 0 0; }
  .contact h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
    text-align: center; }

.contact-container {
  display: flex;
  padding-bottom: 20px;
  padding-top: 40px; }
  @media only screen and (max-width: 800px) {
    .contact-container {
      flex-direction: column; } }

.contact-info {
  width: 100%; }
  @media only screen and (max-width: 800px) {
    .contact-info {
      padding-top: 40px; } }
  .contact-info h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
    text-align: center; }
  .contact-info .hours {
    color: white;
    text-shadow: 0px 0px 3px black;
    padding-left: 20px;
    padding-top: 40px;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .contact-info .hours {
        padding-left: 0; } }

/*# sourceMappingURL=styles.css.map */
